.cache
.project
.classpath
.settings
workspace

*.class
*.log

results/
bin/
examples/data/

# sbt specific
dist/
target/
lib/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.DS_Store
src/.DS_Store
/testData
/egoutput
tags
*.swp
