.cache
.project
.classpath
.settings

*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.DS_Store
.RData
.Rapp.history
.Rhistory
anova_JSON.txt
data.csv
script.txt
src/.DS_Store
src/main/scala/sampler/prototype/Scratch.scala
/testData
