.cache
.project
.classpath
.settings

*.class
*.log

# sbt specific
dist/*
target/
lib/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.DS_Store
.RData
.Rapp.history
.Rhistory
anova_JSON.txt
data.csv
script.txt
script.txt.Rout
src/.DS_Store
src/main/scala/sampler/prototype/Scratch.scala
src/main/scala/sampler/Scratch.scala
/testData
/examples/**/*.csv
/examples/**/*.r
/examples/**/*.Rout
/examples/**/*.pdf
/examples/**/*.ppt*
/examples/sampleDists
/examples/ncpSampleSize/*
/examples/r/*
*.csv
*.r
*.Rout
*.pdf
*.ppt*
